<p id="notice"><%= notice %></p>

<p>
  <strong>Chassie no:</strong>
  <%= @item_detail.chassie_no %>
</p>

<%= link_to 'Edit', edit_item_detail_path(@item_detail) %> |
<%= link_to 'Back', item_details_path %>
