<p id="notice"><%= notice %></p>

<p>
  <strong>Chassis no:</strong>
  <%= @vehicle_detail.chassis_no %>
</p>

<%= link_to 'Edit', edit_vehicle_detail_path(@vehicle_detail) %> |
<%= link_to 'Back', vehicle_details_path %>
